#col-project{
    border: lightgray solid 1px;
    width: 10%;
    font-weight: bold;
    text-align: center;
}
#col-project2{
    border: lightgray solid 1px;
    width: 300px;
}
#col-project3{
    border: lightgray solid 1px;
    width: 400px;
}
#col-project4{
    border: lightgray solid 1px;
    color: green;
    font-weight: bold;
    width: 100px;
}
#col-project5{
    border: lightgray solid 1px;
    width: 300px;
}

#col-project6{
    border: gray solid 1px;
    background-color: lightgray;
    text-align: center;
    width: 100%;
    max-width: 890px;

}

#projects-table{
    position: inherit;
    margin-left: auto;
    margin-right: auto;
}