#col-user{
    border: lightgray solid 1px;
    width: 150px;
    font-weight: bold;
    text-align: center;
}
#col-user2{
    border: lightgray solid 1px;
    width: 300px;
}
#col-user3{
    border: lightgray solid 1px;
    width: 100px;
}
#col-user4{
    border: lightgray solid 1px;
    width: 100px;
}
#col-user5{
    border: lightgray solid 1px;
    width: 300px;
}

#col-user6{
    border: gray solid 1px;
    background-color: lightgray;
    text-align: center;
}

#users-table{
    position: inherit;
    margin: 50px;
    margin-left: 200px;
}